body{
    margin: 0;
}
.banner{
    position: relative;
}
#bannerimg{

width:100%;
height:100%;
}
.bannerText{ /*THE MAIN TITLE*/
background-color: #00A885;
text-shadow: 1px 1px #595959; 
font-weight:300;
font-size: 5em;
letter-spacing: 0.2em;
color: #ffffff;
font-family:Segoe UI;
position: absolute;
text-align: center;
top:20%;
left: 30%;
padding: 0.2em;
 border-radius: 5px;
}
.Toolbar{
width:100%;
 margin: 0;
background-color: #00A885;
padding: 0;
position: fixed;
z-index: 1;
top:0;
}
.Toolbar li { /*EACH TOOLBAR ELEMENT*/
text-align: center;
color:#ffffff;
list-style-type:none;
margin: 0;
background-color:#00A885;
width: 24%;
height: 8%;
/*display: inline-block;*/
float:left;
border-radius: 2px;
text-shadow: 0.5px 0.5px #595959; 
color: #ffffff;
font-family:Segoe UI;
font-size: 2em;
font-weight: 100;
padding: 0.1em;
text-decoration: none;
z-index: 1;
}
.quote{
margin-top: 1em;
position: absolute;
bottom:0%;
left:65%;
background-color: #00A885;
text-shadow: 0.2px 0.2px #595959; 
font-weight:100;
font-size: 0.8em;
letter-spacing: 5px;
color: #ffffff;
font-family:Segoe UI;
padding: 0.5em;
border-radius: 5px;
width: 29%;
height:25%;

}






.AboutUsDiv{
    position: relative;
}
.AboutUsHeader{
    position: absolute;
    text-align: center;
    top: 9%;
    text-align: center;
    margin: 0.2em;
    font-size: 3em;
  
}
.AboutUsText{
   text-align: center;
    position: absolute;
    top: 24%;
    text-align: center;
    margin: 0.2em;
    font-size: 2em;
}
.AboutUsText, .AboutUsHeader{
    color:  #e6e6e6;
    font-family: Segoe UI;
    background-color:#00A885;
    border-radius: 0.1em;
    font-weight: 100;
    text-shadow: 0.2px 0.2px #595959; 
    opacity: 0.9;
}
.Fblink{
    color: #e6e6e6;
}






.Articles{
    margin-top: 100px;
    clear: both;
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 30%;
    border: 2px solid #00A885;
}
.artimg{
    position: absolute;
    width: 100%;
    height:  100%;
    opacity: 0.6;
}

.artTitle{
    position: absolute;
    top:0;
    left:0;
    font-family: Segoe UI;
    font-weight: 100;
    font-size: 3em;
    color: #0d0d0d;
}
.button{
    background-color: #00A885;
    font-family: Segoe UI;
    text-align: center;
    color:#ffffff;
    width: 30%;
    height: 6%;
    margin-left:36%;
    margin-right:36%;
    cursor: pointer;
    padding: 0.1em;
}
.Articles:nth-child(1){
    width: 100%;
    height: 100%;
}
.receptWp{
    -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}
.MainTitle{
    position: fixed;
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #00A885;
    color: #f2f2f2;
    font-size: 4em;
    font-weight: 100;
    font-family: Segoe UI;
}
